<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        Consulta Tabla de proyectos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="md-close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label class="text-fill" text-center>Tabla de aportes</ion-label>
    </ion-item-divider>
    <ion-item-divider >
      <ion-label text-wrap>
        <h3>{{subtarea.tarea}}</h3>
        <h2>{{subtarea.subtarea}}
        </h2>
      </ion-label>
    </ion-item-divider>
    <ion-item *ngIf="subtarea.descuento != 'Sin descuento'">
      <ion-label text-wrap>
        Descuento: {{subtarea.descuento}}
      </ion-label>
    </ion-item>
    <ion-item-divider color="light" >
      <ion-label class="text-fill">
        <div>Categorías <p slot="end" text-end>Detalle</p></div>
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of importes" class="animated fadeIn">
      <ion-label>
        <h3 >{{item.rango}}</h3>
        <p slot="end" text-end text-wrap>{{item.detalle_importe}}</p>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-grid *ngIf="!importes">
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-spinner 
          name="lines" color="primary"
          style=" position: initial;"
          ></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>