<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
        Cambiar Contraseña
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="md-close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content no-padding>
  <form (ngSubmit)="continuar()" [formGroup]="formulario" >
    <!-- PASS ACTUAL -->
    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input [type]="passwordType" formControlName="password" #a (keyup.enter)="moveFocus(b)"></ion-input>
      <ion-icon [name]="passwordIcon" slot="end" (click)="mostrarContrasenya(1)" ></ion-icon>
    </ion-item>
    <ion-label *ngIf="password.touched" class="animated bounceInDown">
      <ion-text color="danger" *ngIf="password.hasError('required')">
        Debe introducir la contraseña actual.
      </ion-text>
    </ion-label>
    <br>
    <!-- PASS 1  -->  
    <ion-item>
      <ion-label position="floating">Introduzca su nueva contraseña</ion-label>
      <ion-input [type]="passwordType2" formControlName="n_password" #b (keyup.enter)="moveFocus(c)"></ion-input>
      <ion-icon [name]="passwordIcon2" slot="end" (click)="mostrarContrasenya(2)" ></ion-icon>
    </ion-item>
    <ion-label *ngIf="n_password.touched" class="animated bounceInDown">
      <ion-text color="danger" *ngIf="n_password.hasError('required')">
        Debe introducir la contraseña.
      </ion-text>
      <ion-text color="danger" *ngIf="n_password.hasError('strong')">
        Debe contener al menos un caracter y un numero.
      </ion-text>
      <ion-text color="danger" *ngIf="n_password.hasError('minlength')">
        {{ 'error_password_minlength' | translate:{length: '6'} }}
      </ion-text>
    </ion-label>
    <br>
    <!-- PASS 2 -->  
    <ion-item>
      <ion-label position="floating">Repita su nueva contraseña</ion-label>
      <ion-input [type]="passwordType3" formControlName="c_password" #c (keyup.enter)="continuar()"></ion-input>
      <ion-icon [name]="passwordIcon3" slot="end" (click)="mostrarContrasenya(3)"></ion-icon>
    </ion-item>
    <ion-label *ngIf="c_password.touched && n_password.valid" class="animated bounceInDown">
      <ion-text color="danger" *ngIf="c_password.hasError('required')">
        Debe introducir la segunda contraseña
      </ion-text>
      <ion-text color="danger" *ngIf="formulario.hasError('notSame')">
        Las contraseñas deben ser iguales
      </ion-text>
    </ion-label>
    <br>
    <div padding>
      <ion-button expand="block" color="secondary" type="submit" [disabled]="!formulario.valid">Cambiar contraseña</ion-button>
    </div>
  </form>
</ion-content>